.footer {
  margin-top: -30px;
  background-color: #232127;
  color: white;
  display: flex;
  height: 240px;
}

.footerLogo {
  margin-left: 30px;
  margin-top: 40px;
}

.quickLinks {
  display: flex;
  margin-left: 180px;
  margin-top: 20px;
}

.links {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

.links a {
  margin: 5px 0px;
  font-weight: 500;
}

.links a:hover {
  color: #2acfcf;
}

.social {
  margin-top: 40px;
  margin-left: 80px;
}

svg {
  cursor: pointer;
  margin: 0px 10px;
  fill: white;
}

svg:hover {
  fill: #2acfcf;
}
