.slogan {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.moto h1 {
  width: 400px;
  margin: 0px 0px;
  color: #35323e;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}

.moto p {
  margin: 0px 0px;
  color: #8b8a8a;
  font-size: 17px;
  font-weight: 500;
}

.btn {
  width: 140px;
  height: 40px;
  margin-top: 20px;
}

.sloganLogo {
  margin-left: 17px;
}
